:root {
	--gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	--pale-blue: hsl(243, 100%, 93%);
	--grayish-blue: hsl(229, 7%, 55%);
	--dark-blue: hsl(228, 56%, 26%);
	--very-dark-blue: hsl(229, 57%, 11%);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
	font-family: 'Raleway', sans-serif;
	min-height: 100vh;
	background-color: var(--very-dark-blue);
	background-image: url(../images//bg-desktop.png);
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-attachment: fixed;
	background-size: contain;
}
@media (max-width: 600px) {
	body {
		background-image: url(../images/bg-mobile.png);
		background-size: cover;
	}
}
ul {
	list-style: none;
}
.content {
	width: 70%;
	position: relative;
	margin: 200px auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'a b b';
	grid-gap: 20px;
}
@media (max-width: 900px) {
	.content {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'a a' 'b b';
	}
	.first {
		grid-area: a;
	}
	.second {
		grid-area: b;
	}
}
.content .first,
.content .second {
	width: 100%;
	background-color: var(--dark-blue);
	padding: 40px;
	margin: auto;
	margin-bottom: 20px;
}
.first {
	border-radius: 10px;
	border-top-right-radius: 100px;
	grid-area: a;
}
.first .image {
	margin-bottom: 25px;
}
.first img {
	height: 50px;
}
.icons {
	display: flex;
	flex-direction: row;
}
.icons div {
	margin-right: 20px;
	background-color: var(--very-dark-blue);
	border-radius: 10px;
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icons img {
	height: 25px;
}
.icons div:last-child img {
	height: 20px;
}
.second {
	border-radius: 10px;
	grid-area: b;
	position: relative;
}
.second h1 {
	font-size: 12px;
	color: white;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}
.second h1 .gb {
	font-weight: 700;
}
.second .progress {
	height: 15px;
	width: 100%;
	background-color: var(--very-dark-blue);
	border-radius: 15px;
	padding: 2px;
	position: relative;
}
.second .progress span:first-child {
	display: flex;
	align-items: center;
	height: 100%;
	background-image: var(--gradient);
	position: relative;
	border-radius: 15px;
}
.progress span:first-child:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
	right: 2px;
}
.progress span:nth-of-type(2) {
	font-size: 10px;
	color: white;
	position: absolute;
	left: 0;
	top: 20px;
}
.progress span:last-child {
	color: white;
	font-size: 10px;
	position: absolute;
	right: 0;
	top: 20px;
}
.gb-left {
	padding: 15px;
	background-color: #fff;
	color: rgb(179, 179, 179);
	width: fit-content;
	position: absolute;
	top: -30px;
	right: 30px;
	border-radius: 10px;
}
@media (max-width: 900px) {
	.gb-left {
		top: 85%;
		right: 40%;
	}
}
@media (max-width: 500px) {
	.gb-left {
		top: 88%;
		right: 32%;
	}
}
.gb-left::after {
	content: '';
	position: absolute;
	height: 20px;
	width: 20px;
	bottom: -34px;
	right: 0px;
	border-bottom: 35px solid transparent;
	border-right: 25px solid white;
}
@media (max-width: 900px) {
	.gb-left::after {
		display: none;
	}
}
.gb-left p {
	display: inline;
}
.gb-left p:first-child {
	color: black;
	font-size: 25px;
	font-weight: bold;
}
.gb-left p:last-child {
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	text-transform: uppercase;
}
